<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-content">
                <form [formGroup]="carPriceFrom" [class.validated]="submitted" [focusInvalid]="focusToggle">
                    <card header="{{'Label.LOMT14.ManagerMiddleCarPrice'| translate}}">
                        <div class="card-content">
                            <div class="form-row">
                                <div class="form-group col-sm-6 col-md-4">
                                    <label class="require">{{'Label.LOMT14.CarType'| translate}}</label>
                                    <div class="btn-group d-block" btnRadioGroup formControlName="CarType">
                                        <button type="button" [btnRadio]="item.Value" *ngFor="let item of CarType"
                                            class="btn btn-outline-warning" tabindex="0">
                                            {{ item['Text'+lang.CURRENT]}}
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 col-md-4">
                                    <label class="require">{{'Label.LOMT14.BrandName'| translate}}</label>
                                    <input type="text" class="form-control" formControlName="BrandName"
                                        placeholder="{{'Label.LOMT14.BrandName' | translate}}">
                                </div>
                                <div class="form-group col-sm-6 col-md-4">
                                    <label class="require">{{'Label.LOMT14.Model'| translate}}</label>
                                    <input type="text" class="form-control" formControlName="ModelName"
                                        placeholder="{{'Label.LOMT14.Model' | translate}}">
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-6 col-md-4">
                                    <label class="require">{{'Label.LOMT14.ModelType'| translate}}</label>
                                    <input type="text" class="form-control" formControlName="ModelType"
                                        placeholder="{{'Label.LOMT14.ModelType' | translate}}">
                                </div>
                                <div class="form-group col-sm-6 col-md-4">
                                    <label class="require">{{'Label.LOMT14.Year'| translate}}</label>
                                    <year-input formControlName="Year" max="9999"></year-input>
                                </div>
                                <div class="form-group col-sm-6 col-md-4">
                                    <label class="require">{{'Label.LOMT14.MiddleCarPrice'| translate}}</label>
                                    <ngx-numeric-textbox inputClass="form-control" [decimals]="2"
                                        formControlName="Price"
                                        placeholder="{{'Label.LOMT14.MiddleCarPrice' | translate}}">
                                    </ngx-numeric-textbox>
                                </div>
                            </div>
                        </div>
                    </card>
                </form>
            </div>
        </div>
    </div>
</div>
<footer class="app-footer-btn animated fadeIn">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-footer" (click)="onSubmit()" [disabled]="saving">
                    <i class="fas fa-cog fa-spin" [hidden]="!saving"></i>
                    <i class="far fa-save" [hidden]="saving"></i> {{ 'Label.GLOBAL.Save'| translate}}</button>
            </div>
            <div class="col text-center">
                <button type="button" class="btn btn-footer" [disabled]="saving" (click)="back()">
                    <i class="fas fa-undo-alt"></i> {{ 'Label.GLOBAL.Back'| translate}}</button>
            </div>
        </div>
    </div>
</footer>