<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <card header="{{ 'Label.LOMT07.Header' | translate }}">
                <div class="card-menu">
                    <button type="button" (click)="add()" class="btn btn-sm btn-circle btn-secondary"
                        tooltip="{{ 'Label.GLOBAL.Add' | translate }}">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
                <div class="card-content">
                    <form [formGroup]="searchForm">
                        <div class="row">
                            <div class="col-sm-6 col-12">
                                <div class="input-group">
                                    <input type="text" (keyup.enter)="search()" class="form-control"
                                        formControlName="InputSearch"
                                        placeholder="{{ 'Label.LOMT07.InformationName' | translate }}">
                                    <div class="input-group-append"></div>
                                    <button type="button" (click)="search()" class="btn btn-warning">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <aaa-table [rows]="informationList" [page]="page" (onTableEvent)="onTableEvent($event)">
                                <ngx-datatable-column width="100" [cellClass]="'text-left'" prop="InformationName">
                                    <ng-template let-sort="sortFn" ngx-datatable-header-template>
                                        <label class="datatable-header-cell-wrapper"
                                            (click)="sort()">{{ 'Label.LOMT07.InformationName' | translate }}</label>
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span class="link"
                                            (click)="edit(row.InformationId)">{{row.InformationName}}</span>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column prop="Active" width="50" [cellClass]="'text-center'">
                                    <ng-template let-sort="sortFn" ngx-datatable-header-template>
                                        <label class="datatable-header-cell-wrapper"
                                            (click)="sort()">{{ 'Label.LOMT07.Active' | translate }}</label>
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <i *ngIf="row.Active" class="fas fa-check"></i>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column [cellClass]="'text-center'" [sortable]="false" width="50">
                                    <ng-template ngx-datatable-header-template>
                                        <label
                                            class="datatable-header-cell-wrapper">{{ 'Label.GLOBAL.Delete' | translate }}</label>
                                    </ng-template>
                                    <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                        <button type="button" class="btn btn-outline-primary btn-sm"
                                            (click)="remove(row.InformationId, row.RowVersion)">
                                            <i class="far fa-trash-alt"></i>
                                        </button>
                                    </ng-template>
                                </ngx-datatable-column>
                            </aaa-table>
                        </div>
                    </div>
                </div>
            </card>
        </div>
    </div>
</div>