<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <form #report [formGroup]="searchForm" [class.validated]="submitted" [focusInvalid]="focusToggle">
                <card header="{{ 'Label.LORP15.SearchReport'| translate}}">
                    <div class="card-menu">
                        <button type="button" (click)="print()" class="btn btn-sm btn-circle btn-secondary"
                            tooltip="{{ 'Label.GLOBAL.Print'| translate}}">
                            <i class="fas fa-cog fa-spin" [hidden]="!printing"></i>
                            <i class="fas fa-print" [hidden]="printing"></i>
                        </button>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="form-group col-sm-6 col-md-3">
                                <label for="FromContractDate"
                                    class="require">{{ 'Label.LORP15.AsOfDate'| translate}}</label>
                                <input bsDatepicker type="text" class="form-control text-center"
                                    formControlName="AsOfDate" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6 col-md-6">
                                <label>{{ 'Label.LORP15.FromBranch'| translate}}</label>
                                <ng-select [items]="fromBranchList" [bindLabel]="'Text' + lang.CURRENT"
                                    bindValue="Value" formControlName="FromBranchCode"
                                    placeholder="{{'Label.GLOBAL.All' | translate}}">
                                </ng-select>
                            </div>
                            <div class="form-group col-sm-6 col-md-6">
                                <label>{{ 'Label.LORP15.ToBranch'| translate}}</label>
                                <ng-select [items]="toBranchList" [bindLabel]="'Text' + lang.CURRENT" bindValue="Value"
                                    formControlName="ToBranchCode" placeholder="{{'Label.GLOBAL.All' | translate}}">
                                </ng-select>
                            </div>
                            <div class="form-group col-sm-6 col-md-6">
                                <label>{{ 'Label.LORP15.FromLoanType'| translate}}</label>
                                <ng-select [items]="fromLoanTypeList" [bindLabel]="'Text' + lang.CURRENT"
                                    bindValue="Value" formControlName="FromLoanType"
                                    placeholder="{{'Label.GLOBAL.All' | translate}}">
                                </ng-select>
                            </div>
                            <div class="form-group col-sm-6 col-md-6">
                                <label>{{ 'Label.LORP15.ToLoanType'| translate}}</label>
                                <ng-select [items]="toLoanTypeList" [bindLabel]="'Text' + lang.CURRENT"
                                    bindValue="Value" formControlName="ToLoanType"
                                    placeholder="{{'Label.GLOBAL.All' | translate}}">
                                </ng-select>
                            </div>
                        </div>
                        <div class="row">

                            <div class="form-group col-md-6">
                                <label>{{ 'Label.LORP15.FromCustomerCode'| translate}}</label>
                                <lookup-input lookupName="LoanLookup" [small]="false" keyColumn="CustomerCode"
                                    holder="{{'Label.LORP15.FromCustomerCode' | translate}}"
                                    searchUrl="loan/LoanOverdueReceivablesReport/customerCodeLOV"
                                    [content]="Lorp15LookupCustomerCodeComponent" formControlName="FromCustomerCode">
                                </lookup-input>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>{{ 'Label.LORP15.ToCustomerCode'| translate}}</label>
                                <lookup-input lookupName="LoanLookup" [small]="false" keyColumn="CustomerCode"
                                    holder="{{'Label.LORP15.ToCustomerCode' | translate}}"
                                    searchUrl="loan/LoanOverdueReceivablesReport/customerCodeLOV"
                                    [content]="Lorp15LookupCustomerCodeComponent" formControlName="ToCustomerCode">
                                </lookup-input>
                            </div>

                            <!-- <div class="form-group col-md-6">
                                <label for="textValue">{{ 'Label.LORP15.FromCustomerCode'| translate}}</label>
                                <ng-select [items]="fromCustomerCodeList" [bindLabel]="'Text' + lang.CURRENT" bindValue="Value" formControlName="FromCustomerCode" placeholder="{{'Label.GLOBAL.All' | translate}}">
                                </ng-select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="textValue">{{ 'Label.LORP15.ToCustomerCode'| translate}}</label>
                                <ng-select [items]="toCustomerCodeList" [bindLabel]="'Text' + lang.CURRENT" bindValue="Value" formControlName="ToCustomerCode" placeholder="{{'Label.GLOBAL.All' | translate}}">
                                </ng-select>
                            </div> -->
                            <!-- <div class="form-group col-md-6">
                                <label for="textValue">{{ 'Label.LORP15.FromContractNo'| translate}}</label>
                                <lookup-input lookupName="LoanLookup" [small]="false" keyColumn="LoanNo"
                                    holder="{{ 'Label.LORP15.FromContractNo'| translate}}"
                                    searchUrl="loan/loanoverduereceivablesreport/invoiceStatusDDL"
                                    [content]="Lorp15LookupContent" formControlName="FromContractNo">
                                </lookup-input>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="textValue">{{ 'Label.LORP15.ToContractNo'| translate}}</label>
                                <lookup-input lookupName="LoanLookup" [small]="false" keyColumn="LoanNo"
                                    holder="{{ 'Label.LORP15.ToContractNo'| translate}}"
                                    searchUrl="loan/loanoverduereceivablesreport/invoiceStatusDDL"
                                    [content]="Lorp15LookupContent" formControlName="ToContractNo">
                                </lookup-input>
                            </div> -->

                            <!-- <div class="form-group col-md-6">
                              <label for="textValue">{{ 'Label.LORP15.FromContractNo'| translate}}</label>
                              <ng-select [items]="filterFromContractNoList" [bindLabel]="'Text' + lang.CURRENT" bindValue="Value" formControlName="FromContractNo" placeholder="{{'Label.GLOBAL.All' | translate}}">
                              </ng-select>
                          </div>
                          <div class="form-group col-md-6">
                              <label for="textValue">{{ 'Label.LORP15.ToContractNo'| translate}}</label>
                              <ng-select [items]="filterToContractNoList" [bindLabel]="'Text' + lang.CURRENT" bindValue="Value" formControlName="ToContractNo" placeholder="{{'Label.GLOBAL.All' | translate}}">
                              </ng-select>
                          </div> -->

                            <div class="form-group col-sm-12 col-md-6">
                                <label class="require">{{ 'Label.LORP15.ReportFormat'| translate}}</label>
                                <ng-select [items]="reportFormatList" [bindLabel]="'Text' + lang.CURRENT"
                                    bindValue="Value" formControlName="ReportFormat"
                                    placeholder="{{'Label.GLOBAL.PleaseSelect' | translate}}">
                                </ng-select>
                                <div class="invalid-feedback">
                                    {{ "Message.STD00000" | translate }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-3">
                                <label>{{'Label.LORP16.ExportType'| translate}}</label>
                                <div class="btn-group d-block" btnRadioGroup formControlName="ExportType">
                                    <button type="button" [btnRadio]="type.Value" *ngFor="let type of exportType"
                                        class="btn btn-outline-warning" tabindex="0">
                                        {{ type['Text'+lang.CURRENT]}}
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </card>
            </form>
        </div>

        <div class="col-sm-12">
            <card header="{{ 'Label.LORP15.ReportViewer'| translate}}">
                <div class="card-menu">
                </div>
                <div class="card-content">
                    <ngx-extended-pdf-viewer [base64Src]="srcResult" [useBrowserLocale]="true" height="80vh"
                        [hidden]="!srcResult"></ngx-extended-pdf-viewer>
                </div>
            </card>
        </div>
    </div>
</div>