<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-12">
          <card header="ติดตามก่อนงวดชำระ">
            <div class="card-content">
                <div class="row">
                  <div class="col-12 text-center">
                      <label style="font-size: 25px"><u>ติดตามก่อนงวดชำระ</u></label>
                  </div>
                </div>
              <div class="row">
                <div class="col-sm-12 text-center">
                  <img src="assets/img/brand/user.png" class="rounded-circle" width="50%">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 text-center">
                  <h3>นาย ทองใส ดวงมาลา</h3>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-6 col-12 form-group">
                  <label >วันที่ครบกำหนด</label>
                </div>
                <div class="col-sm-6 col-12 form-group text-right" style="color: rgb(25, 170, 253);">
                  <label>24/07/2562</label>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-sm-6 col-12 form-group">
                  <label>เลขที่สัญญา</label>
                </div>
                <div class="col-sm-6 col-12 form-group text-right" style="color: rgb(25, 170, 253);">
                  <label>000L61-0515</label>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-sm-6 col-12 form-group">
                  <label>รหัสผู้กู้</label>
                </div>
                <div class="col-sm-6 col-12 form-group text-right" style="color: rgb(25, 170, 253);">
                  <label>C005063</label>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-sm-6 col-12 form-group">
                  <label>เบอร์มือถือ</label>
                </div>
                <div class="col-sm-6 col-12 form-group text-right" style="color: rgb(25, 170, 253);">
                  <label>0981185852</label>
                </div>
              </div>
              <br />
              <br />
              <br />
              <hr>
              <div class="row">
                <div class="col-sm-6 col-12 form-group">
                  <label>เบอร์โทรศัพท์</label>
                </div>
                <div class="col-sm-6 col-12 form-group text-right" style="color: rgb(25, 170, 253);">
                  <label></label>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-sm-6 col-12 form-group">
                  <label>เงินต้นคงค้าง</label>
                </div>
                <div class="col-sm-6 col-12 form-group text-right" style="color: rgb(25, 170, 253);">
                  <label>4,168.00</label>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-sm-6 col-12 form-group">
                  <label>ดอกเบี้ยคงค้าง</label>
                </div>
                <div class="col-sm-6 col-12 form-group text-right" style="color: rgb(25, 170, 253);">
                  <label>1,252.00</label>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-sm-6 col-12 form-group">
                  <label>จำนวนงวด</label>
                </div>
                <div class="col-sm-6 col-12 form-group text-right" style="color: rgb(25, 170, 253);">
                  <label>4</label>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-sm-6 col-12 form-group">
                  <label>ค่าปรับ</label>
                </div>
                <div class="col-sm-6 col-12 form-group text-right" style="color: rgb(25, 170, 253);">
                  <label>270.00</label>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-sm-6 col-12 form-group">
                  <label>ค่าติดตาม</label>
                </div>
                <div class="col-sm-6 col-12 form-group text-right" style="color: rgb(25, 170, 253);">
                  <label>0.00</label>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-sm-6 col-12 form-group">
                  <label>ยอดเงินรวม</label>
                </div>
                <div class="col-sm-6 col-12 form-group text-right" style="color: rgb(25, 170, 253);">
                  <label>5,690.00</label>
                </div>
              </div>
              <hr>

            </div>
          </card>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <tabset>
        <tab heading="บันทึกติดตาม">
          <div class="row">
            <div class="col-sm-2 text-right">
              <label>ค่าติดตาม:</label>
            </div>
            <div class="col-sm-4">
              <div style="background-color: rgb(255, 153, 0); width: 100%; height: 20px; padding: 20px;">
                <!-- <input type="text" class="form-control"> -->
              </div>
            </div>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-2 text-right">
              <label>ครั้งที่:</label>
            </div>
            <div class="col-sm-2 ">
              <input type="text" class="form-control text-center" value="2">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-2 text-right">
              <label>สถานะติดตาม:</label>
            </div>
            <div class="col-sm-4">
              <ng-select [items]="nano" required bindLabel="text" bindValue="value" 
              placeholder="กรุณาระบุ">
              </ng-select>
            </div>
            <div class="col-sm-4">
              <input type="text" class="form-control" disabled placeholder="วันที่นัดชำระ">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="form-group col-sm-12">
              <textarea rows="8" cols="110"></textarea>
            </div>
          </div>
          <br>
          <div class="row">
              <div class="col-sm-12 form-group text-center">
                  <button type="button" class="btn btn-warning">พิมพ์</button>
              </div>
          </div>
        </tab>
        <tab heading="ประวัติโทรติดตามหนี้">
          <aaa-table [rows]="tell" [count]="countLoanContacted" [page]="pageLoanContacted"
            [loading]="loadingLoanContacted">
            <ngx-datatable-column name="code" [cellClass]="'text-center'" width="10">
              <ng-template let-sort="sortFn" ngx-datatable-header-template>
                <label class="datatable-header-cell-wrapper">ครั้งที่</label>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.time}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="name" [cellClass]="'text-center'" width="10">
              <ng-template let-sort="sortFn" ngx-datatable-header-template>
                <label class="datatable-header-cell-wrapper">วันที่</label>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.date}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="lastName" [cellClass]="'text-left'">
              <ng-template let-sort="sortFn" ngx-datatable-header-template>
                <label class="datatable-header-cell-wrapper">รายละเอียด</label>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.remark}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="county" [cellClass]="'text-center'" width="20">
              <ng-template let-sort="sortFn" ngx-datatable-header-template>
                <label class="datatable-header-cell-wrapper">สถานะติดตาม</label>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.follow}}
              </ng-template>
            </ngx-datatable-column>
          </aaa-table>
          <br>
          <div class="row">
              <div class="col-sm-12 form-group text-center">
                  <button type="button" class="btn btn-warning">พิมพ์</button>
              </div>
          </div>
        </tab>
        <tab heading="ประวัติติดตามหนี้ที่บ้าน">
          <aaa-table [rows]="home" [count]="countLoanContacted" [page]="pageLoanContacted"
            [loading]="loadingLoanContacted">
            <ngx-datatable-column name="code" [cellClass]="'text-center'" width="20">
              <ng-template let-sort="sortFn" ngx-datatable-header-template>
                <label class="datatable-header-cell-wrapper">ครั้งที่</label>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.time}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="name" [cellClass]="'text-center'" width="20">
              <ng-template let-sort="sortFn" ngx-datatable-header-template>
                <label class="datatable-header-cell-wrapper">วันที่</label>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.date}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="lastName" [cellClass]="'text-left'">
              <ng-template let-sort="sortFn" ngx-datatable-header-template>
                <label class="datatable-header-cell-wrapper">รายละเอียด</label>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.remark}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="county" [cellClass]="'text-center'" width="50">
              <ng-template let-sort="sortFn" ngx-datatable-header-template>
                <label class="datatable-header-cell-wrapper">สถานะติดตาม</label>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.follow}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="county" [cellClass]="'text-center'" width="50">
              <ng-template let-sort="sortFn" ngx-datatable-header-template>
                <label class="datatable-header-cell-wrapper">สถานะค่าติดตาม</label>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.costfollow}}
              </ng-template>
            </ngx-datatable-column>
          </aaa-table>
          <br>
          <div class="row">
              <div class="col-sm-12 form-group text-center">
                  <button type="button" class="btn btn-warning">พิมพ์</button>
              </div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>