<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <card header="{{ 'อัพโหลดไฟล์ Excel ข้อมูลบังคับคดี'| translate}}">
        <div class="card-content">
          <form [formGroup]="uploadForm">
            <div class="row">
              <div class="col-6">
                <label>{{ 'อัพโหลดไฟล์ Excel ข้อมูลบังคับคดี'| translate}}</label>
                <file-upload [file]="attachmentFile" [excel]="true" formControlName="FileName">
                </file-upload>
              </div>
            </div>
          </form>
        </div>
      </card>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <card header="{{ 'ข้อมูลบังคับคดี(ลูกค้าที่ยังมีสัญญา active อยู่)'| translate}}">
        <div class="card-menu">
          <button type="button" (click)="search()" class="btn btn-sm btn-circle btn-secondary"
            tooltip="{{ 'Label.GLOBAL.Search'| translate}}">
            <i class="fas fa-search"></i>
          </button>
        </div>
        <div class="card-content">
          <div class="row">
            <div class="col-12">
              <aaa-table [rows]="blackListsCustomer" [page]="page" (onTableEvent)="onTableEvent($event)">
                <ngx-datatable-column [cellClass]="'text-center'" prop="CustomerCode">
                  <ng-template let-sort="sortFn" ngx-datatable-header-template>
                    <label class="datatable-header-cell-wrapper" (click)="sort()">{{'รหัสลูกค้า'|
                      translate}}</label>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <span class="link" (click)="linkCustomerDetail(row.CustomerCode)">{{row.CustomerCode}}</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [cellClass]="'text-left'" prop="CustomerName">
                  <ng-template let-sort="sortFn" ngx-datatable-header-template>
                    <label class="datatable-header-cell-wrapper" (click)="sort()">{{'ชื่อ-นามสกุล'|
                      translate}}</label>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.CustomerName}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [cellClass]="'text-center'" prop="ContractNo">
                  <ng-template let-sort="sortFn" ngx-datatable-header-template>
                    <label class="datatable-header-cell-wrapper" (click)="sort()">{{'เลขที่สัญญา'|
                      translate}}</label>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <span class="link" (click)="linkContractDetail(row.ContractHeadId)">{{row.ContractNo}}</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [cellClass]="'text-center'" prop="ContractStatus">
                  <ng-template let-sort="sortFn" ngx-datatable-header-template>
                    <label class="datatable-header-cell-wrapper" (click)="sort()">{{'สถานะสัญญา'|
                      translate}}</label>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.ContractStatus}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [cellClass]="'text-center'" prop="LawStatus">
                  <ng-template let-sort="sortFn" ngx-datatable-header-template>
                    <label class="datatable-header-cell-wrapper" (click)="sort()">{{'สถานะติดตาม(ทนาย)'|
                      translate}}</label>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.LawStatus}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [cellClass]="'text-center'" prop="DaysOutstanding">
                  <ng-template let-sort="sortFn" ngx-datatable-header-template>
                    <label class="datatable-header-cell-wrapper" (click)="sort()">{{'จำนวนวันที่ค้าง'|
                      translate}}</label>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.DaysOutstanding}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column width="250" [cellClass]="'text-left'" prop="BlacklistRemark">
                  <ng-template let-sort="sortFn" ngx-datatable-header-template>
                    <label class="datatable-header-cell-wrapper" (click)="sort()">{{'ข้อมูล Blacklist'|
                      translate}}</label>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.BlacklistRemark}}
                  </ng-template>
                </ngx-datatable-column>
              </aaa-table>
            </div>
          </div>
        </div>
      </card>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <card header="{{ 'ข้อมูลบังคับคดี(หลักทรัพย์ที่ยังมีสัญญา active อยู่)'| translate}}">
        <div class="card-menu">
          <button type="button" (click)="search()" class="btn btn-sm btn-circle btn-secondary"
            tooltip="{{ 'Label.GLOBAL.Search'| translate}}">
            <i class="fas fa-search"></i>
          </button>
        </div>
        <div class="card-content">
          <div class="row">
            <div class="col-12">
              <aaa-table [rows]="blackListsSecurities" [page]="page" (onTableEvent)="onTableEvent($event)">
                <ngx-datatable-column [cellClass]="'text-center'" prop="SecuritiesCode">
                  <ng-template let-sort="sortFn" ngx-datatable-header-template>
                    <label class="datatable-header-cell-wrapper" (click)="sort()">{{'รหัสหลักทรัพย์'|
                      translate}}</label>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <span class="link" (click)="linkSecuritiesDetail(row.SecuritiesCode)">{{row.SecuritiesCode}}</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [cellClass]="'text-left'" prop="Description">
                  <ng-template let-sort="sortFn" ngx-datatable-header-template>
                    <label class="datatable-header-cell-wrapper" (click)="sort()">{{'รายละเอียดหลักทรัพย์'|
                      translate}}</label>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.Description}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [cellClass]="'text-center'" prop="AppraisalPrice">
                  <ng-template let-sort="sortFn" ngx-datatable-header-template>
                    <label class="datatable-header-cell-wrapper" (click)="sort()">{{'ราคาประเมิน'|
                      translate}}</label>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.AppraisalPrice | number:'1.2-2'}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [cellClass]="'text-left'" prop="CustomerName">
                  <ng-template let-sort="sortFn" ngx-datatable-header-template>
                    <label class="datatable-header-cell-wrapper" (click)="sort()">{{'ชื่อ-นามสกุล'|
                      translate}}</label>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.CustomerName}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [cellClass]="'text-center'" prop="ContractNo">
                  <ng-template let-sort="sortFn" ngx-datatable-header-template>
                    <label class="datatable-header-cell-wrapper" (click)="sort()">{{'เลขที่สัญญา'|
                      translate}}</label>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <span class="link" (click)="linkContractDetail(row.ContractHeadId)">{{ row.ContractNo }}</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [cellClass]="'text-center'" prop="ContractStatus">
                  <ng-template let-sort="sortFn" ngx-datatable-header-template>
                    <label class="datatable-header-cell-wrapper" (click)="sort()">{{'สถานะสัญญา'|
                      translate}}</label>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.ContractStatus }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [cellClass]="'text-center'" prop="LawStatus">
                  <ng-template let-sort="sortFn" ngx-datatable-header-template>
                    <label class="datatable-header-cell-wrapper" (click)="sort()">{{'สถานะติดตาม(ทนาย)'|
                      translate}}</label>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.LawStatus}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [cellClass]="'text-center'" prop="DaysOutstanding">
                  <ng-template let-sort="sortFn" ngx-datatable-header-template>
                    <label class="datatable-header-cell-wrapper" (click)="sort()">{{'จำนวนวันที่ค้าง'|
                      translate}}</label>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.DaysOutstanding}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column width="250" [cellClass]="'text-left'" prop="BlacklistRemark">
                  <ng-template let-sort="sortFn" ngx-datatable-header-template>
                    <label class="datatable-header-cell-wrapper" (click)="sort()">{{'ข้อมูล Blacklist'|
                      translate}}</label>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.BlacklistRemark}}
                  </ng-template>
                </ngx-datatable-column>
              </aaa-table>
            </div>
          </div>
        </div>
      </card>
    </div>
  </div>
</div>

<ng-template #LogError>
  <modal-layout (onClose)="closePopup()" header="{{'ข้อผิดพลาดอัพโหลดไฟล์ Excel ข้อมูลบังคับคดี'| translate}}">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <form [formGroup]="errorForm">
            <label>{{ 'ข้อผิดพลาดอัพโหลดไฟล์ Excel ข้อมูลบังคับคดี'| translate}}</label>
            <textarea rows="6" class="form-control" formControlName="error"></textarea>
          </form>
        </div>
      </div>
    </div>
  </modal-layout>
</ng-template>