<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <card header="{{ 'Label.DBMT09.CountryDetails' | translate }}">
                <div class="card-menu">
                    <button type="button" (click)="add()" class="btn btn-sm btn-circle btn-secondary"
                        tooltip="{{ 'Label.GLOBAL.Add' | translate }}">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
                <div class="card-content">
                    <form [formGroup]="searchForm">
                        <div class="row">
                            <div class="col-sm-6 col-12">
                                <div class="input-group">
                                    <input type="text" (keyup.enter)="search()" class="form-control"
                                        formControlName="InputSearch"
                                        placeholder="{{ 'Label.DBMT09.CountryCode' | translate }}, {{ 'Label.DBMT09.CountryName' | translate }}">
                                    <div class="input-group-append">
                                        <button type="button" (click)="search()" class="btn btn-warning">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12">
                                <aaa-table [rows]="countryList" [page]="page" (onTableEvent)="onTableEvent($event)">
                                    <ngx-datatable-column [cellClass]="'text-center'" prop="CountryCode">
                                        <ng-template let-sort="sortFn" ngx-datatable-header-template>
                                            <label class="datatable-header-cell-wrapper"
                                                (click)="sort()">{{ 'Label.DBMT09.CountryCode' | translate }}</label>
                                        </ng-template>
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <span class="link"
                                                (click)="edit(row.CountryCode)">{{row.CountryCode}}</span>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column [cellClass]="'text-left'" prop="CountryNameTha">
                                        <ng-template let-sort="sortFn" ngx-datatable-header-template>
                                            <label class="datatable-header-cell-wrapper"
                                                (click)="sort()">{{ 'Label.DBMT09.CountryNameTH' | translate }}</label>
                                        </ng-template>
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <span>{{row.CountryNameTha}}</span>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column [cellClass]="'text-left'" prop="CountryNameEng">
                                        <ng-template let-sort="sortFn" ngx-datatable-header-template>
                                            <label class="datatable-header-cell-wrapper"
                                                (click)="sort()">{{ 'Label.DBMT09.CountryNameEN' | translate }}</label>
                                        </ng-template>
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <span>{{row.CountryNameEng}}</span>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column prop="Active" [cellClass]="'text-center'">
                                        <ng-template let-sort="sortFn" ngx-datatable-header-template>
                                            <label class="datatable-header-cell-wrapper"
                                                (click)="sort()">{{ 'Label.DBMT09.Active' | translate }}</label>
                                        </ng-template>
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <i class="fas fa-check" *ngIf="row.Active == true "></i>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column [cellClass]="'text-center'" [sortable]="false">
                                        <ng-template ngx-datatable-header-template>
                                            <label
                                                class="datatable-header-cell-wrapper">{{ 'Label.GLOBAL.Delete' | translate }}</label>
                                        </ng-template>
                                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                            <button type="button" class="btn btn-outline-primary btn-sm"
                                                (click)="remove(row.CountryCode, row.RowVersion)">
                                                <i class="far fa-trash-alt"></i>
                                            </button>
                                        </ng-template>
                                    </ngx-datatable-column>

                                </aaa-table>
                            </div>
                        </div>
                    </form>
                </div>
            </card>
        </div>
    </div>
</div>