<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <card header="{{ 'Label.DBMT12.HeaderDetail'| translate }}">
                <div class="card-content">
                    <form [formGroup]="positionFrom" [class.validated]="submitted" [focusInvalid]="focusToggle">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-row">
                                    <div class="form-group col-12">
                                        <div class="form-row">
                                            <div class="form-group col-md-6 col-sm-12">
                                                <label
                                                    class="require">{{ 'Label.DBMT12.PositionCode' | translate }}</label>
                                                <input type="text" class="form-control text-center"
                                                    formControlName="PositionCode" maxlength="10">
                                                <div class="invalid-feedback">
                                                    {{ 'Label.GLOBAL.PleaseSpecify'| translate }}
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6 col-sm-12">
                                                <label class="require">{{ 'Label.DBMT12.PositionNameTha' | translate }}</label>
                                                <input type="text" class="form-control"
                                                    formControlName="PositionNameTha" maxlength="50">
                                                <div class="invalid-feedback">
                                                    {{ 'Label.GLOBAL.PleaseSpecify'| translate }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6 col-sm-12">
                                                <label>{{ 'Label.DBMT12.PositionNameEng' | translate }}</label>
                                                <input type="text" class="form-control"
                                                    formControlName="PositionNameEng" maxlength="50">
                                                <div class="invalid-feedback">
                                                    {{ 'Label.GLOBAL.PleaseSpecify'| translate }}
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6 col-sm-12">
                                                <div class="custom-control custom-checkbox" style="margin-top: 30px">
                                                    <input class="custom-control-input" type="checkbox" id="Active"
                                                        formControlName="Active">
                                                    <label class="custom-control-label" for="Active">
                                                        {{ 'Label.SUMT08.Active' | translate }}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </card>
        </div>
    </div>
</div>
<footer class="app-footer-btn animated fadeIn">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <button type="button" class="btn btn-footer" (click)="onSubmit()" [disabled]="saving">
                    <i class="fas fa-cog fa-spin" [hidden]="!saving"></i>
                    <i class="far fa-save" [hidden]="saving"></i> {{ 'Label.GLOBAL.Save'| translate}}</button>
            </div>
            <div class="col text-center">
                <button type="button" class="btn btn-footer" [disabled]="saving" (click)="back()">
                    <i class="fas fa-undo-alt"></i> {{ 'Label.GLOBAL.Back'| translate }}</button>
            </div>
        </div>
    </div>
</footer>
