:host(menu-select-container) {
    display: block;
    position: absolute;
    background-color:white;
    margin-top:5px;
    z-index: 2000;
}
.ul-menu{
    margin:0;
    padding-left:10px;
}
.menu-tree-item{
    padding:0;
    list-style: none;
    cursor: pointer;
    position: relative; 
    &.menu-dropdown{
        cursor: default;
        i{
            position: absolute;
            font-size: .75rem;
            left:15px;
            top:14.5px;   
            color:#c5c9ce;
            transition: all .2s ease-out;
            &.menu-icon-down{
                transform: rotate(90deg);
            }
        }
    }
    a.nav-menu{
        padding: 0.5rem 1.4rem 0.3rem 1.8rem;
        display:block;
        transition: color .3s ease-out;
        transition: font-weight .3s ease-out;
        color:gray;   
        font-weight: 400;
        &:hover{
            color:#3c3d3e;
            font-weight: 600;
        }
    }
    &.active > a.nav-menu{
        color:black;
        font-weight: 600;
    }
}


menu-select {
    display:block;
    position: relative;
    .form-control.menu-input:not(:disabled){
        cursor: default;
        background-color: #ffffff;
    }
    .menu-clear{
        position: absolute;
        right: 0;
        top:50%;
        padding:6px;
        margin-right: 5px;
        transform: translateY(-50%);
        cursor: pointer;
        color:gray;
        font-size:0.8rem;
        i{
            display: block;
            line-height: 1;
        }
    }
  }
.menu-tree {
    box-sizing: border-box;
    position: absolute;
    opacity: 0;
    width: 100%;
    z-index: 1050;
    background-color:white;
    -webkit-overflow-scrolling: touch;
    .menu-container{
        border:1px solid #e4e7ea;
        padding:0;
        margin: 0;
    }
}

   
