<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <form #report [formGroup]="searchForm" [class.validated]="submitted" [focusInvalid]="focusToggle">
        <card header="{{ 'Label.LORP09.SearchReport'| translate}}">
          <div class="card-menu">
            <button type="button" (click)="print()" class="btn btn-sm btn-circle btn-secondary"
              tooltip="{{ 'Label.GLOBAL.Print'| translate}}">
              <i class="fas fa-cog fa-spin" [hidden]="!printing"></i>
              <i class="fas fa-print" [hidden]="printing"></i>
            </button>
          </div>
          <div class="card-content">
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <label>{{ 'Label.LORP09.FromBranch'| translate}}</label>
                <ng-select [items]="fromBranchList" [bindLabel]="'Text' + lang.CURRENT" bindValue="Value"
                  formControlName="FromBranchCode" placeholder="{{'Label.GLOBAL.All' | translate}}">
                </ng-select>
              </div>
              <div class="form-group col-sm-6 col-md-6">
                <label>{{ 'Label.LORP09.ToBranch'| translate}}</label>
                <ng-select [items]="toBranchList" [bindLabel]="'Text' + lang.CURRENT" bindValue="Value"
                  formControlName="ToBranchCode" placeholder="{{'Label.GLOBAL.All' | translate}}">
                </ng-select>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <label>{{ 'Label.LORP09.FromLoanType'| translate}}</label>
                <ng-select [items]="fromLoanTypeList" [bindLabel]="'Text' + lang.CURRENT" bindValue="Value"
                  formControlName="FromLoanType" placeholder="{{'Label.GLOBAL.All' | translate}}">
                </ng-select>
              </div>
              <div class="form-group col-sm-6 col-md-6">
                <label>{{ 'Label.LORP09.ToLoanType'| translate}}</label>
                <ng-select [items]="toLoanTypeList" [bindLabel]="'Text' + lang.CURRENT" bindValue="Value"
                  formControlName="ToLoanType" placeholder="{{'Label.GLOBAL.All' | translate}}">
                </ng-select>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6 col-md-3">
                <label for="FromContractDate">{{"Label.LORP09.FromPaymentDate" | translate}}</label>
                <input bsDatepicker type="text" class="form-control text-center"
                  formControlName="FromApprovedContractDate"
                  [maxDate]=this.searchForm.controls.ToApprovedContractDate.value />
              </div>
              <div class="form-group col-sm-6 col-md-3">
                <label for="ToContractDate">{{"Label.LORP09.ToPaymentDate" | translate}}</label>
                <input bsDatepicker type="text" class="form-control text-center"
                  formControlName="ToApprovedContractDate"
                  [minDate]=this.searchForm.controls.FromApprovedContractDate.value />
              </div>
              <div class="col-sm-6 col-md-3">
                <label>{{ 'Label.LORP09.FromContractNo'| translate}}</label>
                <lookup-input lookupName="LoanLookup" [small]="false" keyColumn="LoanNo"
                  holder="{{'Label.LORP09.FromContractNo' | translate}}"
                  searchUrl="loan/loanpaymentreport/contractNoLOV" [content]="Lorp09LookupContent"
                  formControlName="FromContractNo">
                </lookup-input>
              </div>
              <div class="form-group col-sm-6 col-md-3">
                <label>{{ 'Label.LORP09.ToContractNo'| translate}}</label>
                <lookup-input lookupName="LoanLookup" [small]="false" keyColumn="LoanNo"
                  holder="{{'Label.LORP09.ToContractNo' | translate}}" searchUrl="loan/loanpaymentreport/contractNoLOV"
                  [content]="Lorp09LookupContent" formControlName="ToContractNo">
                </lookup-input>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <label>{{ 'Label.LORP09.CustomerCode'| translate}}</label>
                <lookup-input lookupName="LoanLookup" [small]="false" keyColumn="CustomerCode"
                  holder="{{'Label.LORP09.CustomerCode' | translate}}"
                  searchUrl="loan/loanpaymentreport/customerCodeLOV" [content]="Lorp09LookupCustomerCodeComponent"
                  formControlName="CustomerCode">
                </lookup-input>
              </div>
              <div class="form-group col-sm-12 col-md-6">
                <label class="require">{{ 'Label.LORP09.ReportFormat'| translate}}</label>
                <ng-select [items]="reportFormatList" [bindLabel]="'Text' + lang.CURRENT" bindValue="Value"
                  formControlName="ReportFormat" placeholder="{{'Label.GLOBAL.PleaseSelect' | translate}}">
                </ng-select>
                <div class="invalid-feedback">
                  {{ "Message.STD00000" | translate }}
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label>{{ "Label.LORP09.Select" | translate }}</label>&nbsp;<label
                  class="text-danger">{{ "Label.LORP09.SelectAll" | translate }}</label>
                <div formArrayName="ContractStatus">
                  <div class="custom-control custom-checkbox custom-control-inline"
                    *ngFor="let item of contractStatus.controls; let i=index" [formGroupName]="i">
                    <input class="custom-control-input" type="checkbox" [id]="'ChkcontractStatus'+ i"
                      formControlName="Active">
                    <label class="custom-control-label" [for]="'ChkcontractStatus'+ i">
                      {{ item.controls['Text'+lang.CURRENT].value }}
                    </label>
                  </div>
                </div>
              </div>
            </div>

            
            <div class="row">
              <div class="form-group col-sm-3">
                <label>{{'Label.LORP16.ExportType'| translate}}</label>
                <div class="btn-group d-block" btnRadioGroup formControlName="ExportType">
                  <button type="button" [btnRadio]="type.Value" *ngFor="let type of exportType"
                    class="btn btn-outline-warning" tabindex="0" >
                    {{ type['Text'+lang.CURRENT]}}
                  </button>
                </div>
              </div>
            </div>
            
          </div>
        </card>
      </form>
    </div>

    <div class="col-sm-12">
      <card header="{{ 'Label.LORP09.ReportViewer'| translate}}">
        <div class="card-menu">
        </div>
        <div class="card-content">
          <ngx-extended-pdf-viewer [base64Src]="srcResult" [useBrowserLocale]="true" height="80vh"
            [hidden]="!srcResult"></ngx-extended-pdf-viewer>
        </div>
      </card>
    </div>
  </div>
</div>