<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <form #report [formGroup]="searchForm" [class.validated]="submitted" [focusInvalid]="focusToggle">
        <card header="{{ 'รายงานควบคุมเอกสาร'| translate}}">
          <div class="card-menu">
            <button type="button" (click)="print()" class="btn btn-sm btn-circle btn-secondary"
              tooltip="{{ 'Label.GLOBAL.Print'| translate}}">
              <i class="fas fa-cog fa-spin" [hidden]="!printing"></i>
              <i class="fas fa-print" [hidden]="printing"></i>
            </button>
          </div>
          <div class="card-content">
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <label >{{ 'Label.LORP37.FromBranch'| translate}}</label>
                <ng-select [items]="fromBranchList" [bindLabel]="'Text' + lang.CURRENT" bindValue="Value"
                  formControlName="FromBranchCode" placeholder="{{'Label.GLOBAL.All' | translate}}">
                </ng-select>
              </div>
              <div class="form-group col-sm-6 col-md-6">
                <label>{{ 'Label.LORP37.ToBranch'| translate}}</label>
                <ng-select [items]="toBranchList" [bindLabel]="'Text' + lang.CURRENT" bindValue="Value"
                  formControlName="ToBranchCode" placeholder="{{'Label.GLOBAL.All' | translate}}">
                </ng-select>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 col-md-6">
                <label >{{ 'Label.LORP37.FromContractNo'| translate}}</label>
                <ng-select [items]="fromContractNo" [bindLabel]="'Text' + lang.CURRENT" bindValue="Value"
                  formControlName="FromContractNo" placeholder="{{'Label.GLOBAL.All' | translate}}">
                </ng-select>
              </div>
              <div class="form-group col-sm-6 col-md-6">
                <label>{{ 'Label.LORP37.ToContractNo'| translate}}</label>
                <ng-select [items]="toContractNo" [bindLabel]="'Text' + lang.CURRENT" bindValue="Value"
                  formControlName="ToContractNo" placeholder="{{'Label.GLOBAL.All' | translate}}">
                </ng-select>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-sm-6 col-md-6">
                <label class="require" for="FromContractDate">{{ "สรุป ณ วันที่"| translate}}</label>
                <input bsDatepicker type="text" class="form-control text-center"
                  formControlName="FromApprovedContractDate">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label>{{ "สถานะเอกสาร" | translate }}</label>&nbsp;<label class="text-danger">{{
                  "Label.LORP13.SelectAll" | translate }}</label>
                <div formArrayName="ReqDocumentStatus">
                  <div class="custom-control custom-checkbox custom-control-inline"
                    *ngFor="let item of reqDocumentDocument.controls; let i=index" [formGroupName]="i">
                    <input class="custom-control-input" type="checkbox" [id]="'reqDocumentStatus'+ i"
                      formControlName="Active">
                    <label class="custom-control-label" [for]="'reqDocumentStatus'+ i">
                      {{ item.controls['Text'+lang.CURRENT].value }}
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-3">
                <label>{{'Label.LORP16.ExportType'| translate}}</label>
                <div class="btn-group d-block" btnRadioGroup formControlName="ExportType">
                  <button type="button" [btnRadio]="type.Value" *ngFor="let type of exportType"
                    class="btn btn-outline-warning" tabindex="0" >
                    {{ type['Text'+lang.CURRENT]}}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </card>
      </form>
    </div>
    <div class="col-sm-12">
      <card header="{{ 'Label.LORP02.ReportViewer'| translate}}">
        <div class="card-menu">
        </div>
        <div class="card-content">
          <ngx-extended-pdf-viewer [base64Src]="srcResult" [useBrowserLocale]="true" height="80vh"
            [hidden]="!srcResult"></ngx-extended-pdf-viewer>
        </div>
      </card>
    </div>
  </div>
</div>