<div class="custom-file" [class.custom-file-sm]="small">
    <input type="file" [disabled]="isDisable" class="custom-file-input" id="customFile" (change)="onFileChange($event)" (click)="onClickFile($event)">
    <label class="custom-file-label" for="customFile">
        {{ value }}
    </label>
    <button  (click)="open()" *ngIf="uploaded" type="button" class="btn btn btn-link rounded-0 file-link"><i class="fas fa-paperclip"></i></button>
</div>
<small *ngIf="error" class="text-danger">{{error}}</small>