<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <card header="{{ 'Label.LOMT09.Attribute'| translate}}">
        <div class="card-menu">
          <button (click)="add()" class="btn btn-sm btn-circle btn-secondary"
            tooltip="{{ 'Label.GLOBAL.Add'| translate}}">
            <i class="fas fa-plus"></i>
          </button>
        </div>
        <div class="card-content">
          <div class="row" [formGroup]="searchForm">
            <div class="col-sm-6 col-12">
              <div class="input-group">
                <input type="text" (keyup.enter)="search()" class="form-control" formControlName="InputSearch"
                  placeholder="{{ 'Label.LOMT09.PlaceHolder'| translate}}">
                <div class="input-group-append">
                  <button type="button" (click)="search()" class="btn btn-warning">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-12">
              <aaa-table [rows]="attributes" [page]="page" (onTableEvent)="onTableEvent($event)">
                <ngx-datatable-column prop="AttributeNameTha">
                  <ng-template let-sort="sortFn" ngx-datatable-header-template>
                    <label class="datatable-header-cell-wrapper"
                      (click)="sort()">{{ 'Label.LOMT09.AttributeNameTha'| translate}}</label>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <span class="link" (click)="edit(row.AttributeId)">{{row.AttributeNameTha}}</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="AttributeNameEng">
                  <ng-template let-sort="sortFn" ngx-datatable-header-template>
                    <label class="datatable-header-cell-wrapper"
                      (click)="sort()">{{ 'Label.LOMT09.AttributeNameEng'| translate}}</label>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.AttributeNameEng}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="StatusDesc{lang}" [cellClass]="'text-center'">
                  <ng-template let-sort="sortFn" ngx-datatable-header-template>
                    <label class="datatable-header-cell-wrapper"
                      (click)="sort()">{{ 'Label.LOMT09.AttributeType'| translate}}</label>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.StatusDescTha}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column width="80" prop="Active" [cellClass]="'text-center'">
                  <ng-template let-sort="sortFn" ngx-datatable-header-template>
                    <label class="datatable-header-cell-wrapper"
                      (click)="sort()">{{ 'Label.GLOBAL.Active'| translate}}</label>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <i *ngIf="row.Active" class="fas fa-check"></i>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column width="80" [cellClass]="'text-center'" [sortable]="false" [width]="100">
                  <ng-template ngx-datatable-header-template>
                    <label class="datatable-header-cell-wrapper">{{ 'Label.GLOBAL.Delete'| translate}}</label>
                  </ng-template>
                  <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <button class="btn btn-outline-primary btn-sm" (click)="remove(row.AttributeId,row.RowVersion)">
                      <i class="far fa-trash-alt"></i>
                    </button>
                  </ng-template>
                </ngx-datatable-column>
              </aaa-table>
            </div>
          </div>
        </div>
      </card>
    </div>
  </div>
</div>