<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <form [formGroup]="ProvinceFrom" [class.validated]="submitted" [focusInvalid]="focusToggle">
                <card header="{{ 'Label.DBMT10.ProvinceDetails' | translate }}">
                    <div class="card-content">
                        <div class="form-row">
                            <div class="col-12 col-sm-12 col-md-12">

                                <div class="form-row">
                                    <div class="form-group col-sm-12">
                                        <label class="require">{{ 'Label.DBMT10.ProvinceNameTH' | translate }}</label>
                                        <input type="text" class="form-control text-left"
                                            formControlName="ProvinceNameTha" maxlength="50">
                                        <div class="invalid-feedback">
                                            {{ 'Message.STD00000' | translate }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-sm-12">
                                        <label>{{ 'Label.DBMT10.ProvinceNameEN' | translate }}</label>
                                        <input type="text" class="form-control text-left"
                                            formControlName="ProvinceNameEng" maxlength="50">
                                        <div class="invalid-feedback">
                                            {{ 'Message.STD00000' | translate }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-sm-6">
                                        <label class="require">{{ 'Label.DBMT10.Country' | translate }}</label>
                                        <!-- <ng-select [items]="CountryList" bindLabel="TextTha" bindValue="Value"
                                            formControlName="CountryCode" placeholder="{{'Label.GLOBAL.PleaseSelect' | translate}}">
                                        </ng-select> -->
                                        <ng-select [items]="CountryList" [bindLabel]="'Text' + lang.CURRENT" bindValue="Value"
                                        formControlName="CountryCode" placeholder="{{'Label.GLOBAL.PleaseSelect'| translate}}">
                                    </ng-select>
                                        <div class="invalid-feedback">
                                            {{ 'Message.STD00000' | translate }}
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <div class="custom-control custom-checkbox" style="margin-top: 30px">
                                            <input class="custom-control-input" type="checkbox" id="Active"
                                                formControlName="Active">
                                            <label class="custom-control-label" for="Active">
                                                {{ 'Label.DBMT10.Active' | translate }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </card>
            </form>
        </div>
    </div>
</div>

<footer class="app-footer-btn animated fadeIn">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <!-- <button class="btn btn-footer" [disabled]="saving" (click)="onSubmit()">
                        <i class="far fa-save"></i>{{ 'Label.GLOBAL.Save' | translate }}</button> -->
                <button class="btn btn-footer" (click)="onSubmit()" [disabled]="saving">
                    <i class="fas fa-cog fa-spin" [hidden]="!saving"></i>
                    <i class="far fa-save" [hidden]="saving"></i> {{ 'Label.GLOBAL.Save'| translate}}</button>
            </div>
            <div class="col text-center">
                <!-- <button class="btn btn-footer" [disabled]="saving" (click)="back()">
                        <i class="fas fa-undo-alt"></i>{{ 'Label.GLOBAL.Back' | translate }}</button> -->
                <button class="btn btn-footer" [disabled]="saving" (click)="back()">
                    <i class="fas fa-undo-alt"></i> {{ 'Label.GLOBAL.Back'| translate }}</button>
            </div>
        </div>
    </div>
</footer>
