<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <form #report [formGroup]="searchForm">
        <card header="{{ 'Label.LORP01.SearchReport'| translate}}">
          <div class="card-menu">
            <button type="button" (click)="print()" class="btn btn-sm btn-circle btn-secondary"
              tooltip="{{ 'Label.GLOBAL.Print'| translate}}">
              <i class="fas fa-cog fa-spin" [hidden]="!printing"></i>
              <i class="fas fa-print" [hidden]="printing"></i>
            </button>
          </div>
          <div class="card-content">
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <label>{{ 'Label.LORP01.FromBranch'| translate}}</label>
                <ng-select [items]="fromBranchList" [bindLabel]="'Text' + lang.CURRENT" bindValue="Value"
                  formControlName="FromBranch" placeholder="{{'Label.GLOBAL.All' | translate}}">
                </ng-select>
              </div>
              <div class="form-group col-sm-6 col-md-6">
                <label>{{ 'Label.LORP01.ToBranch'| translate}}</label>
                <ng-select [items]="toBranchList" [bindLabel]="'Text' + lang.CURRENT" bindValue="Value"
                  formControlName="ToBranch" placeholder="{{'Label.GLOBAL.All' | translate}}">
                </ng-select>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-3">
                <label>{{ 'Label.LORP01.FromContractNo'| translate}}</label>
                <ng-select [items]="filterFromContractNoList" [bindLabel]="'Text' + lang.CURRENT" bindValue="Value"
                  formControlName="FromContractNo" placeholder="{{'Label.GLOBAL.All' | translate}}">
                </ng-select>
              </div>
              <div class="form-group col-sm-6 col-md-3">
                <label>{{ 'Label.LORP01.ToContractNo'| translate}}</label>
                <ng-select [items]="filterToContractNoList" [bindLabel]="'Text' + lang.CURRENT" bindValue="Value"
                  formControlName="ToContractNo" placeholder="{{'Label.GLOBAL.All' | translate}}">
                </ng-select>
              </div>
            </div>
          </div>
        </card>
      </form>
    </div>

    <div class="col-sm-12">
      <card header="{{ 'Label.LORP01.ReportViewer'| translate}}">
        <div class="card-menu">
        </div>
        <div class="card-content">
          <ngx-extended-pdf-viewer [base64Src]="srcResult" [useBrowserLocale]="true" height="80vh"
            [hidden]="!srcResult"></ngx-extended-pdf-viewer>
        </div>
      </card>
    </div>
  </div>
</div>