<modal-layout (onClose)="close()" header="{{ 'Label.GLOBAL.Lookup' | translate }}">
    <card header="card name">
        <div class="card-menu">
            <button (click)="select()" class="btn btn-sm btn-circle btn-secondary" tooltip="action">
                <i class="fas fa-check"></i>
            </button>
        </div>
        <div class="card-content">
            <div class="row">
                <div class="col-sm-6 col-12">
                    <div class="input-group">
                        <input type="text" (keyup.enter)="search()" class="form-control" [(ngModel)]="keyword"
                            placeholder="item code,item name">
                        <div class="input-group-append">
                            <button type="button" (click)="search()" class="btn btn-warning">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12">
                    <aaa-table [rows]="attributes" [rowSelect]="attributeSelected" [count]="count"
                        (onTableEvent)="onTableEvent($event)">
                        <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false"
                            [draggable]="false" [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="AttributeNameTha">
                            <ng-template let-sort="sortFn" ngx-datatable-header-template>
                                <label class="datatable-header-cell-wrapper" (click)="sort()">Attribute Name Tha</label>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.AttributeNameTha}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="AttributeNameEng">
                            <ng-template let-sort="sortFn" ngx-datatable-header-template>
                                <label class="datatable-header-cell-wrapper" (click)="sort()">Attribute Name Eng</label>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.AttributeNameEng}}
                            </ng-template>
                        </ngx-datatable-column>
                    </aaa-table>
                </div>
            </div>
        </div>
    </card>
</modal-layout>