<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <card header="Dashboard">
                <div class="card-menu">
                </div>
                <div class="card-content">
                    <div class="form-row">
                        <div class="col-sm-3 col-12">
                            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h5 class="card-title">0.00</h5>
                                            <p class="card-text">บาท</p>
                                        </div>
                                        <div class="col-sm-6">
                                            <i class="far fa-money-bill-alt"
                                                style='font-size:85px; color:#312f2f2c'></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer1 text-center">จำนวนเงินสัญญาใหม่
                                    <i class="fa fa-arrow-circle-right" style='font-size:15px; color:#ffffff98'></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3 col-12">
                            <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h5 class="card-title">0.00</h5>
                                            <p class="card-text">บาท</p>
                                        </div>
                                        <div class="col-sm-6">
                                            <i class="far fa-money-bill-alt"
                                                style='font-size:85px; color:#312f2f2c'></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer5 text-center">จำนวนเงินสัญญาที่อนุมัติ
                                    <i class="fa fa-arrow-circle-right" style='font-size:15px; color:#ffffff98'></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3 col-12">
                            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h5 class="card-title">0.00</h5>
                                            <p class="card-text">บาท</p>
                                        </div>
                                        <div class="col-sm-6">
                                            <i class="far fa-money-bill-alt"
                                                style='font-size:85px; color:#312f2f2c'></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer2 text-center">จำนวนเงินรับชำระเงินกู้
                                    <i class="fa fa-arrow-circle-right" style='font-size:15px; color:#ffffff98'></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3 col-12">
                            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h5 class="card-title">0.00</h5>
                                            <p class="card-text">บาท</p>
                                        </div>
                                        <div class="col-sm-6">
                                            <i class="far fa-money-bill-alt"
                                                style='font-size:85px; color:#312f2f2c'></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer4 text-center">จำนวนเงินรับชำระเงินกู้ของสาขาอื่น
                                    <i class="fa fa-arrow-circle-right" style='font-size:15px; color:#ffffff98'></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <div class="form-row">
                        <div class="col-sm-3 col-12">
                            <div class="card text-white bg1 mb-3" style="max-width: 18rem;">
                                <div class="card-header1 text-center">ยังไม่ถึงกำหนด
                                    <i class="fa fa-arrow-circle-right" style='font-size:15px; color:#ffffff98'></i>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">0.00 บาท</h5>
                                    <p class="card-text">คิดเป็น 0.00% จากยอดปล่อยสินเชื่อ (12,089,865.00)</p>
                                </div>
                                <hr class="dashboard">
                                <div class="card-body">
                                    <h5 class="card-title">0 สัญญา</h5>
                                    <p class="card-text">คิดเป็น 0.00% จากสัญญาทั้งหมด (127)</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-12">
                            <div class="card text-white bg2 mb-3" style="max-width: 18rem;">
                                <div class="card-header2 text-center">เกินกำหนด 1 เดือน
                                    <i class="fa fa-arrow-circle-right" style='font-size:15px; color:#ffffff98'></i>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">0.00 บาท</h5>
                                    <p class="card-text">คิดเป็น 0.00% จากยอดปล่อยสินเชื่อ (12,089,865.00)</p>
                                </div>
                                <hr class="dashboard">
                                <div class="card-body">
                                    <h5 class="card-title">0 สัญญา</h5>
                                    <p class="card-text">คิดเป็น 0.00% จากสัญญาทั้งหมด (127)</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-12">
                            <div class="card text-white bg3 mb-3" style="max-width: 18rem;">
                                <div class="card-header3 text-center">เกินกำหนด 2 เดือน
                                    <i class="fa fa-arrow-circle-right" style='font-size:15px; color:#ffffff98'></i>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">166,664.00 บาท</h5>
                                    <p class="card-text">คิดเป็น 1.38% จากยอดปล่อยสินเชื่อ (12,089,865.00)</p>
                                </div>
                                <hr class="dashboard">
                                <div class="card-body">
                                    <h5 class="card-title">1 สัญญา</h5>
                                    <p class="card-text">คิดเป็น 0.79% จากสัญญาทั้งหมด (127)</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-12">
                            <div class="card text-white bg4 mb-3" style="max-width: 18rem;">
                                <div class="card-header4 text-center">มากกว่า 3 เดือน
                                    <i class="fa fa-arrow-circle-right" style='font-size:15px; color:#ffffff98'></i>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">11,923,201.00 บาท</h5>
                                    <p class="card-text">คิดเป็น 98.62% จากยอดปล่อยสินเชื่อ (12,089,865.00)</p>
                                </div>
                                <hr class="dashboard">
                                <div class="card-body">
                                    <h5 class="card-title">126 สัญญา</h5>
                                    <p class="card-text">คิดเป็น 99.21% จากสัญญาทั้งหมด (127)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </card>
        </div>
    </div>
</div>
<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <card header="ข้อมูลการปล่อยกู้/รับชำระเงินกู้">
                <div class="card-menu">
                </div>
                <div class="card-content">

                    <chart [type]="typeChart" [data]="dataChart" [options]="optionsChart"
                        style="height:400px; width:1200px;"></chart>

                </div>
            </card>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12">
                <card header="สรุปยอดประจำวัน">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-sm-6 col-12 font-weight-bold">
                                <h4>สรุปยอดประจำวัน</h4>
                            </div>
                            <div class="col-sm-6 col-12 form-group text-right">
                                <label>วันที่ 02/08/2562 - 02/08/2562</label>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-6 col-12 form-group font-weight-bold">
                                <i class="fa fa-book" style='font-size:15px; color:#000000'></i>
                                <label>&nbsp; สัญญาใหม่</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-12 form-group">
                                <label>จำนวน 0 รายการ / จำนวนเงิน 0.00 บาท</label>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-6 col-12 form-group font-weight-bold">
                                <i class="fa fa-book" style='font-size:15px; color:#000000'></i>
                                <label>&nbsp; สัญญาที่อนุมัติ</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-12 form-group">
                                <label>จำนวน 0 รายการ / จำนวนเงิน 0.00 บาท</label>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-6 col-12 form-group font-weight-bold">
                                <i class="fa fa-book" style='font-size:15px; color:#000000'></i>
                                <label>&nbsp; รับชำระเงินกู้</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-12 form-group">
                                <label>จำนวน 0 รายการ / จำนวนเงิน 0.00 บาท</label>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-6 col-12 form-group font-weight-bold">
                                <i class="fa fa-book" style='font-size:15px; color:#000000'></i>
                                <label>&nbsp; รับชำระเงินกู้ของสาขาอื่น</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-12 form-group">
                                <label>จำนวน 0 รายการ / จำนวนเงิน 0.00 บาท</label>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-6 col-12 form-group font-weight-bold">
                                <i class="fa fa-book" style='font-size:15px; color:#000000'></i>
                                <label>&nbsp; รับชำระเงินกู้ WMPlus</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-12 form-group">
                                <label>จำนวน 0 รายการ / จำนวนเงิน 0.00 บาท</label>
                            </div>
                        </div>
                        <hr>
                    </div>
                </card>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12">
                <card header="สัดส่วนตามประเภทเงินกู้">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-sm-3">
                            </div>
                            <chart [type]="typeChart2" [data]="dataChart2" [options]="optionsChart2"
                                style="height:300px; width:300px;"></chart>
                        </div>
                    </div>
                </card>
            </div>
        </div>
    </div>
</div>
