hr.dashboard{
  border: 1px solid rgb(255, 255, 255) !important;
  margin-top: 0rem !important;
}

div.card-footer1{
  background-color: #1e9ecb !important;
  border: 0px !important;
}

div.card-footer2{
  background-color: #44b76c !important;
  border: 0px !important;
}

div.card-footer3{
  background-color: #f7b900 !important;
  border: 0px !important;
}

div.card-footer4{
  background-color: #f75d5c !important;
  border: 0px !important;
}

div.card-footer5{
  background-color: #878a8d !important;
  border: 0px !important;
}

.card-header1 {
    padding: 0rem 0rem !important;
    background-color: rgb(61, 182, 182) !important;
}

.bg1 {
  background-color: rgb(83, 199, 199) !important;
}

.card-header2 {
  padding: 0rem 0rem !important;
  background-color: rgb(219, 140, 49) !important;
}

.bg2 {
background-color: rgb(240, 155, 59) !important;
}

.card-header3 {
  padding: 0rem 0rem !important;
  background-color: rgb(223, 99, 27) !important;
}

.bg3 {
background-color: rgb(250, 112, 32) !important;
}

.card-header4 {
  padding: 0rem 0rem !important;
  background-color: rgb(204, 90, 23) !important;
}

.bg4 {
background-color: rgb(219, 84, 30) !important;
}



