* {
  outline: none !important;
  // appearance: none;
}

.btn.disabled,
.btn:disabled {
  cursor: not-allowed;
}

.btn-outline-warning.active,
.btn-outline-warning:active {
  color: #23282c !important;
  background-color: #ffc107 !important;
  border-color: #ffc107 !important;
}

.close {
  font-size: 1.5rem;
}
.card-header {
  border-bottom: 0px;
  span:first-child {
    cursor: pointer;
  }
  .card-menu {
    position: absolute;
    right: 11px;
    top: 8px;
  }
}
.card {
  border: none;
}
.date-today {
  background-color: pink;
}
tab {
  .card {
    border: 1px solid #c8ced3;
    margin-bottom: 0px;
  }
}
.sidebar {
  .nav-link {
    transition: background-color 0.3s ease-in-out;
    overflow: hidden;
    //font-size:13.15px;
    //font-weight: 400;
    font-family: "Prompt", -apple-system,
      // Chrome < 56 for OS X (San Francisco)
        BlinkMacSystemFont,
      // Windows
        "Segoe UI",
      // Android
        "Roboto",
      // Basic web fallback
        "Helvetica Neue",
      Arial, sans-serif,
      // Emoji fonts
        "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol";
    .nav-icon {
      transition: color 0.3s ease-in-out;
    }
    .fa-xs {
      font-size: 0.4rem;
    }
  }
  .nav-dropdown-items {
    max-height: none;
    transition: none;
  }
  .nav-dropdown.open {
    & > .nav-dropdown-items {
      max-height: none;
    }
    .nav-link {
      &:hover {
        color: #653e1f;
      }
    }
  }
}

@media (min-width: 992px) {
  .sidebar-minimized .sidebar .ps.sidebar-nav {
    overflow: visible !important;
  }
}

.toast-container .ngx-toastr:hover {
  box-shadow: none;
}
.toast-container .ngx-toastr {
  box-shadow: none;
}
.toast-error {
  background-color: #f86c6b;
}
.toast-info {
  background-color: #43b6d7;
}
.toast-success {
  background-color: #4dbd74;
}
.toast-warning {
  background-color: #ffc107;
}
.btn + .btn {
  margin-left: 4px;
}
.top-menu {
  margin-left: auto;
}

.dropdown-menu.lang {
  min-width: auto;
  border: none;
  .dropdown-item {
    min-width: auto;
    border: none;
  }
}
.dropdown-menu.user {
  border: none;
  .dropdown-item {
    border: none;
  }
}
.app-footer-btn {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #005fb7;
  z-index: 1018;
  margin-left: 0 !important;
  .btn-footer {
    color: white;
    background: none;
    width: 100%;
    font-weight: bold;
    border-radius: 0;
    border: none;
    padding: 7px;
    transition: background-color color ease-in-out 0.5s;
    &:focus {
      outline: none;
      box-shadow: none;
    }
    &:hover {
      background-color: darken(#005fb7, 10%);
    }
  }
}
@media (min-width: 576px) {
  .sidebar-show.sidebar-fixed .app-footer-btn {
    padding-left: 270px !important;
  }
}
@media (min-width: 576px) and (min-width: 992px) {
  .sidebar-lg-show .app-footer-btn {
    padding-left: 270px !important;
  }
}
.icon-btn {
  display: inline-block;
  color: #b1afaf;
  cursor: pointer;
  padding: 0 5px 0 5px;
  transition: color ease-in-out 0.5s;
  &:hover {
    color: #807e7e;
  }
}
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 4px;
  border-radius: 50%;
  text-align: center;
  font-size: 15px;
  line-height: 1.42857;
}
.date-wrap {
  position: relative;
  .input-icon {
    position: absolute;
    right: 5px;
    top: 16%;
    margin: 0;
    font-size: 1.2rem;
    color: #5f6061;
    line-height: 1;
  }
}
.badge {
  padding: 0.3em 0.5em;
}
.switch-input:disabled ~ .switch-slider {
  background-color: $gray-200;
}
// chaange right label to left label on mobile mode
@media only screen and (max-width: 375px) {
  .mb-left {
    text-align: left !important;
  }
}

.payment-label {
  color: $primary !important;
  font-weight: bold !important;
}

.upload-mb {
  border-top: dashed 1px #ffd800;
}

.switch-pico .switch-input:checked + .switch-slider {
  background-color: #00918a !important;
  border-color: #00918a !important;
}

.switch-pico .switch-input:checked + .switch-slider::before {
  border-color: #00918a !important;
}

.color-green {
  color: #00918a;
}

.color-danger {
  color: red;
}

