:host ::ng-deep.carousel .slick-current #imgDetail {
    border: 2px solid #A51932;
}
.product-nav {
    position: absolute;
    top: 40%;
    margin-top: -18px;
    z-index: 10;
    font-size: 1.9rem;
    
}
.product-nav.prev {
    left: 10px;
}
.product-nav.next {
    right: 10px;
}
.product-nav.slick-disabled {
    opacity: .35;
}